body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5ef;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.event-details {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}
.event-description {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: justify;

}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}